<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>菜单居中布局</title>
    <style>
        ul{text-align:center;height: 30px;line-height: 30px;background-color: red;padding: 0 0 0 0px;}
        li, a{display: inline-block;width: 100px;height: 100%;background-color: yellow;}
        li{display: inline-block;background-color: blue;}
    </style>
</head>
<body>
<ul>
    <li><a href="#">首页</a></li>
    <li><a href="#">推荐</a></li>
    <li><a href="#">新闻</a></li>
    <li><a href="#">关于我们团队</a></li>
</ul>
</body>
</html>